
/*.hidden {
  display: none;
}

.loading {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute !important;
  top: 0;
  left: 0;*/
  /*display: flex;*/
  /*justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

  .loading .icon-loading {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

    .loading .icon-loading img {
      width: 7vw;
      display: block;
      margin: auto;
    }

.message-successfully,
.message-error {
  position: absolute !important;
  bottom: 20px;
  right: 20px;
}

  .message-successfully .message {
    height: 5vh;
    background-color: #212c48;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid green;
    padding: 0px 15px;
  }

  .message-error .message {
    height: 5vh;
    background-color: #212c48;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(226, 86, 86);
    padding: 0px 15px;
  }

    .message-error .message i {
      color: rgb(226, 86, 86);
    }

  .message-successfully .message i {
    color: green;
  }

  .message-successfully .message span,
  .message-error .message span {
    margin-left: 10px;
    line-height: 17px;
  }

.bx {
  margin: 10px;
  margin-left: 15px;
  font-size: 20px;
}*/
