.success-sub-title {
  white-space: nowrap;
  color: var(--secondary-color);
  margin-bottom: 78px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-top: 100px;
}

@media (max-width: 500px) {
  .content {
    width: 100vw;
  }
}

.language-container {
  top: 20px;
  right: 20px;
}

